body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.formContainer {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.tabs {
    display: flex;
    text-align: center;
}

.tabs>* {
    flex: 1;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formItems {
    margin: 5px;
}

.formItems p {
    margin: 0;
}